.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 10px;
}

.logo {
     max-width: 110px;
     max-height: 110px;
}

.reservas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-right: 10px;
}

.reservas strong {
    color: #fff;
    display: block;
}

.reservas span {
    color: #ddd;
    font-size: 0.8rem;
}
